name: Dynamic Proxy Demo CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Verify
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Java  25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin' 
          cache: 'maven'

      - name: Make Maven wrapper executable
        run: chmod +x mvnw

      - name: Build and run tests
        run: ./mvnw -ntp clean verify
